nav{
    border:1px solid rgb(41, 40, 40);
    height:55px;
    background: rgb(41, 40, 40);
    
}
nav ul {
    position: relative;
   
    width:80%;
   
}
nav ul li{
    border: 1px solid rgb(41, 40, 40);
    list-style: none;
    float:left;
    margin:0 50px;
    padding-bottom:10px ;
 
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li:hover{
    border-bottom:2px solid white;
}
